* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  height: 100%;

  overflow: hidden;
}

body {
  font-size: 14px;
  color: #fff;
  background: #29242f;
  -webkit-font-smoothing: antialiased !important;
  font: 300 18px/18px Roboto, sans-serif;
}
